node_modules/
.next/
dist/
build/
/.env
/.env.local
/.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
.cache/
public/uploads/
sanity-studio/node_modules/
sanity-isolated/node_modules/
.vscode/
*.log
*.lock
coverage/
/.idea/
.DS_Store
node_modules/
.next/
out/
public/uploads/
data/*.json
.env
npm-debug.log*
yarn-error.log*
